html {
  font-family: "Roboto";
  font-size: 10px;
}

h1, h2, h3, h4, h5, p, input, ul {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

button {
  border: none;
  background-color: #fff;
}

button:hover {
  border: none;
  background-color: #fff;
}

a {
  text-decoration: none;
  color: #000;
}

a:visited {
  color: #000;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  overflow: hidden;
  -webkit-animation: fadeOut 3s linear forwards;
          animation: fadeOut 3s linear forwards;
}
.container .loader {
  align-self: center;
  width: 100px;
  height: 100px;
  border: 5px solid #9356DC;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  -webkit-animation: pulse 1s linear infinite;
          animation: pulse 1s linear infinite;
}
.container .loader:after {
  content: "";
  position: absolute;
  width: 100px;
  height: 100px;
  border: 5px solid #9356DC;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-animation: scaleUp 1s linear infinite;
          animation: scaleUp 1s linear infinite;
}
@-webkit-keyframes scaleUp {
  0% {
    transform: translate(-50%, -50%) scale(0);
  }
  60%, 100% {
    transform: translate(-50%, -50%) scale(1);
  }
}
@keyframes scaleUp {
  0% {
    transform: translate(-50%, -50%) scale(0);
  }
  60%, 100% {
    transform: translate(-50%, -50%) scale(1);
  }
}
@-webkit-keyframes pulse {
  0%, 60%, 100% {
    transform: scale(1);
  }
  80% {
    transform: scale(1.2);
  }
}
@keyframes pulse {
  0%, 60%, 100% {
    transform: scale(1);
  }
  80% {
    transform: scale(1.2);
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  95% {
    opacity: 0;
  }
  99% {
    width: 100%;
    height: 100vh;
  }
  100% {
    height: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  95% {
    opacity: 0;
  }
  99% {
    width: 100%;
    height: 100vh;
  }
  100% {
    height: 0;
  }
}
header {
  display: flex;
  justify-content: center;
}
header img {
  width: 200px;
  padding: 20px 0;
}

.localisation {
  padding: 20px 0 20px 60px;
  font-size: 1.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EAEAEA;
  box-shadow: inset 0px 4px 5px -1px rgba(0, 0, 0, 0.6);
}
.localisation i {
  padding: 0 25px 5px;
}
.localisation input {
  background-color: #EAEAEA;
  border: none;
}
.localisation input:focus {
  outline: none;
}

.explorer {
  padding: 0 50px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  background-color: #f6f6f6;
}
.explorer h2 {
  width: 100%;
  padding-top: 50px;
  font-size: 2.5rem;
  font-weight: bold;
}
.explorer p {
  width: 100%;
  padding-top: 20px;
  font-size: 2rem;
  font-weight: lighter;
}
.explorer a {
  margin: 40px 0;
  padding: 15px 25px;
  font-size: 1.8rem;
  color: #ffffff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background: #9356DC;
  border-radius: 25px;
  transition: box-shadow 1s, background-color 1s;
}
.explorer a:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: #ff79da;
}

.fonctionnement {
  padding: 40px 0 40px 20px;
}
.fonctionnement h2 {
  font-size: 2.5rem;
  font-weight: bold;
  padding-bottom: 5px;
}
.fonctionnement ul {
  font-size: 1.5rem;
}
.fonctionnement ul li {
  display: flex;
  margin: 20px;
}
.fonctionnement ul li a {
  flex: 1;
  padding: 25px 20px;
  border-radius: 25px;
  background-color: #f6f6f6;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  position: relative;
  transition: box-shadow 1s, background-color 1s;
}
.fonctionnement ul li a span {
  font-size: 1.3rem;
  position: absolute;
  left: -12px;
  top: 30%;
  padding: 5px 10px;
  border-radius: 25px;
  background-color: #9356DC;
  color: #ffffff;
}
.fonctionnement ul li a i {
  font-size: 2rem;
  padding: 0 10px;
  color: #353535;
  transition: color 1s;
}
.fonctionnement ul li a:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: #F5EDFF;
}
.fonctionnement ul li a:hover i {
  color: #9356DC;
}

.restaurants {
  padding: 40px 20px;
  background-color: #f6f6f6;
}
.restaurants h2 {
  font-size: 2.5rem;
  font-weight: bold;
  padding-bottom: 20px;
}
.restaurants__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.restaurants__cards > a {
  height: 300px;
  width: 450px;
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 25px;
  overflow: hidden;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  flex-direction: column;
  position: relative;
  display: flex;
  transition: box-shadow 1s;
}
.restaurants__cards > a > p {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 1.4rem;
  padding: 8px 15px;
  color: #1c7a63;
  background-color: #99e2d0;
  border-radius: 3px;
}
.restaurants__cards > a img {
  flex: 7;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
  overflow: hidden;
}
.restaurants__cards > a > div {
  flex: 2;
  font-size: 1.5rem;
  display: flex;
  padding: 15px 15px 0;
  justify-content: space-between;
}
.restaurants__cards > a > div > div h3 {
  margin-bottom: 10px;
}
.restaurants__cards > a > div > div h3 span {
  text-transform: uppercase;
}
.restaurants__cards > a > div > div p {
  font-weight: lighter;
}
.restaurants__cards > a > div button {
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.restaurants__cards > a > div button i {
  font-size: 3rem;
}
.restaurants__cards > a > div button .fa-solid {
  margin-top: 10px;
  color: #9356DC;
  width: 0;
  height: 0;
  overflow: hidden;
  font-size: 1rem;
  transition: font-size 1.5s, margin-top 1.5s;
}
.restaurants__cards > a > div button:hover .fa-solid {
  margin-top: 0;
  width: 30px;
  height: 30px;
  font-size: 3rem;
}
.restaurants__cards > a > div button:hover .fa-regular {
  display: none;
  overflow: hidden;
  display: none;
}
.restaurants__cards > a:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

footer {
  padding: 20px;
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  background-color: #353535;
}
footer .footer__link {
  color: #fff;
  padding: 5px 0;
}
footer .footer__link .footer__link__icon {
  width: 24px;
  padding: 0 10px 0 0;
}
footer .footer__logo {
  font-size: 1.8rem;
  padding-bottom: 20px;
  font-family: "Shrikhand", Arial, sans-serif;
}/*# sourceMappingURL=accueil.css.map */