// VAR
$purple: #9356DC;

$pink: #ff79da;
$light-pink:#F5EDFF;

$green: #99E2D0;

$black: #000000;

$white: #ffffff;

$grey:#EAEAEA;
$dark-grey:#353535;
$light-grey:#f6f6f6;

// GLOBAL CSS
html{
    font-family: 'Roboto';
    font-size: 10px; // 10px, pour faciliter les calculs en rem
}


h1,h2,h3,h4,h5,p,input,ul{
    padding: 0;
    margin: 0;
}

ul{
    list-style: none;
}

button{
    border:none;
    background-color: #fff;
}

button:hover{
    border:none;
    background-color: #fff;
}

a{
    text-decoration: none;
    color: #000;
}

a:visited{
    color: #000;
}

// LOADER

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    overflow: hidden;
    animation: fadeOut 3s linear forwards;
    .loader {
        align-self: center;
        width: 100px;
        height: 100px;
        border: 5px solid $purple;
        border-radius: 50%;
        display: inline-block;
        box-sizing: border-box;
        animation: pulse 1s linear infinite;
    }
    .loader:after {
        content: '';
        position: absolute;
        width: 100px;
        height: 100px;
        border: 5px solid $purple;
        border-radius: 50%;
        display: inline-block;
        box-sizing: border-box;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        animation: scaleUp 1s linear infinite;
    }

    @keyframes scaleUp {
        0% { transform: translate(-50%, -50%) scale(0) }
        60% , 100% { transform: translate(-50%, -50%)  scale(1)}
    }
    @keyframes pulse {
        0% , 60% , 100%{ transform:  scale(1) }
        80% { transform:  scale(1.2)}
    }
}
@keyframes fadeOut {
    0%   {
        opacity: 1;
    }
    90%{
        opacity: 1;
    }
    95% {
        opacity: 0;
        
    }
    99%{
        width: 100%;
        height: 100vh;
    }
    100%{
        height: 0;
    }
}

// HEADER
header{
    display: flex;
    justify-content: center;
    img{
        width: 200px;
        padding : 20px 0;
    }
    
}

// MAIN
.localisation{
    padding: 20px 0 20px 60px; 
    font-size: 1.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $grey;
    box-shadow: inset 0px 4px 5px -1px rgba(0,0,0,0.6);
    i{
        padding: 0 25px 5px;
    }
    input{
        background-color: $grey;
        border: none; 
    }
    input:focus{
        outline: none;
    }
}

.explorer{
    padding:0 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    background-color: $light-grey;

    h2{
        width: 100%;
        padding-top: 50px;
        font-size: 2.5rem;
        font-weight: bold;
    }
    p{
        width: 100%;
        padding-top: 20px;
        font-size: 2rem;
        font-weight: lighter;
    }
    a{
        margin: 40px 0;
        padding: 15px 25px;
        font-size: 1.8rem;
        color: $white;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        background: $purple;
        border-radius: 25px;
        transition: box-shadow 1s, background-color 1s;
    }
    a:hover{
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        background-color: $pink;
    }
}

.fonctionnement{
    padding: 40px 0 40px 20px;
    h2{
        font-size: 2.5rem;
        font-weight: bold;
        padding-bottom: 5px;
    }
    ul{
        font-size: 1.5rem;
        li{
            display: flex;
            margin: 20px;
            a{
                flex:1;
                padding: 25px 20px;
                border-radius: 25px;
                background-color: $light-grey;
                box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                position: relative;
                transition: box-shadow 1s, background-color 1s;
                span{
                    font-size: 1.3rem;
                    position: absolute;
                    left: -12px;
                    top:30%;
                    padding: 5px 10px;
                    border-radius: 25px;
                    background-color: $purple;
                    color: $white;
                }
                i{
                    font-size: 2rem;
                    padding: 0 10px;
                    color: $dark-grey;
                    transition: color 1s;
                }
            }
            a:hover{
                box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                background-color: $light-pink;
                i{
                    color: $purple;
                    
                }
            }
        }
    }
}

.restaurants{
    padding:40px 20px;
    background-color: $light-grey;
    h2{
        font-size: 2.5rem;
        font-weight: bold;
        padding-bottom: 20px;
    }
    &__cards{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        
        > a{
            height: 300px;
            width: 450px;
            margin-bottom: 20px;
            background-color: #fff;
            border-radius: 25px;
            overflow: hidden;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            flex-direction: column;
            position: relative;
            display: flex;
            transition: box-shadow 1s;
            > p{
                position: absolute;
                top: 15px;
                right: 15px;
                font-size: 1.4rem;
                padding: 8px 15px;
                color: #1c7a63;
                background-color: #99e2d0;
                border-radius: 3px;
            }
            img{
                flex: 7;
                object-fit: cover;
                object-position: 50% 50%;
                overflow: hidden;
            }
            > div{ 
                flex:2;
                font-size: 1.5rem;
                display: flex;
                padding: 15px 15px 0;
                justify-content: space-between;
                > div {
                    h3{
                        margin-bottom: 10px;
                        span{
                            text-transform: uppercase;
                        }
                    }
                    p{
                        font-weight: lighter;
                    }
                }
                button{
                    width: 30px;
                    height: 30px;
                    cursor: pointer;
                    i{
                        font-size: 3rem;
                    }
                    .fa-solid {
                        margin-top: 10px;
                        color: $purple;
                        width: 0;
                        height: 0;
                        overflow: hidden;
                        font-size: 1rem;
                        transition: font-size 1.5s,margin-top 1.5s;
                    }
                }
                button:hover{
                    .fa-solid{
                        margin-top: 0;
                        width: 30px;
                        height: 30px;
                        font-size: 3rem;
                    }
                    .fa-regular{
                        display:none;
                        overflow: hidden;
                        display: none;
                    }
                }
            }
            
        }
        > a:hover{
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; 
        }
    }

}

// FOOTER
footer{
    padding: 20px;
    display: flex;
    flex-direction: column;
    font-size:1.5rem ;
    background-color: #353535;
    .footer__link{
        color: #fff;
        padding: 5px 0;
        .footer__link__icon{
            width: 24px;
            padding: 0 10px 0 0;
        }
    }
    .footer__logo {
        font-size:1.8rem;
        padding-bottom: 20px;
        font-family: "Shrikhand", Arial, sans-serif;
    }
}